{% extends 'base.html' %}

{% block content %}
<h3 class="text-center mt-5 mb-5">Your cart {% if not cart.products.count %}is empty{% endif %}</h3>
{% if messages %}
    {% for message in messages %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
{% endif %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Image</th>
      <th scope="col">Price</th>
      <th scope="col">Amount</th>
      <th scope="col">Total cost</th>
      <th scope="col">Action(Дія)</th>
    </tr>
  </thead>
  <tbody>
  {% for item in cart.products.all %}
    <tr>
      <th scope="row">{{ item.product.title }}</th>
      <td class="w-25"><img src="{{ item.product.image.url }}" class="img-fluid"></td>
      <td>{{ item.product.price }} $</td>
      <td>
        <form action="{% url 'change_qty' slug=item.product.slug %}" method="POST">
          {% csrf_token %}
          <input type="number" class="form-control" name="qty" style="width: 60px" min="1" value="{{ item.qty }}">
          <br>
          <input type="submit" class="btn btn-primary" value="Change amount">
        </form>
      </td>
      <td>{{ item.final_price }} $</td>
      <td>
          <a href="{% url 'delete_from_cart' slug=item.product.slug %}"><button class="btn btn-danger">Remove from cart</button></a>
      </td>
    </tr>
  {% endfor %}
  <tr>
    <td colspan="2"></td>
    <td>Total</td>
    <td>{{ cart.total_products }}</td>
    <td><strong>{{ cart.final_price }} $</strong></td>
    <td><a href="{% url 'checkout' %}"><button class="btn btn-primary">Let's go to create order</button></a><td>
  </tr>
  </tbody>
</table>

{% endblock content %}