{% extends 'base.html' %}
{% load static %}

{% block header %}
<!-- Header-->
<header class="bg-dark py-3">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Shop in style</h1>
            <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
        </div>
    </div>
</header>
{% endblock %}


{% block content  %}
<div class="container" style="display: flex">
    <div class="row">
        <div class="col-lg-3 mt-5">
            <div class="list-group position-absolute">
                {% for category in categories %}
                <a href="{{ category.get_absolute_url }}" class="list-group-item">{{ category.name }} ({{ category.product_set.count }})</a>
                {% endfor %}
            </div>
            {% block productfilter %}
            {% endblock productfilter %}
        </div>
    </div>
</div>
<!--TODO: зробити нормальний дизайн, пошук, здвінути бокс з категоріями вліво + написати тести -->
    {% for el in products %}
        <div class="col mb-5">
    <div class="card h-100">
        <a href="{{ el.get_absolute_url }}"><img class="card-img-top" src="{{ el.image.url }}" alt="" width="500" height="600"></a>
        <!-- Product image-->
<!--        <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />-->
<!--        &lt;!&ndash; Product details&ndash;&gt;-->
<!--        <img src="{{ el.image.url }}" class="img-fluid">-->
<!--        <img class="card-img-top" src="{% static el.image %}">-->
        <div class="card-body p-4">
            <div class="text-center">
                <!-- Product name-->
                <h5 class="fw-bolder">{{ el }}</h5>
                <!-- Product price-->
                <p>{{ el.price }} $</p>
            </div>
        </div>
        <!-- Product actions-->
        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{{ el.get_absolute_url }}">Specifications</a></div>
                <div class="text-center mt-3">
                    <a href="{% url 'add_to_cart' slug=el.slug %}">
                        <button class="btn btn-danger">Add to cart</button>
                    </a>
                </div>
        </div>
    </div>
</div>
    {% endfor %}

{% if messages %}
    {% for message in messages %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
{% endif %}

{% endblock content %}

